[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "plugins/pelican-ipynb"]
	path = plugins/pelican-ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
